<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-title>
            Favorites
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-slides *ngIf="dataLocalService.favoriteNews.length === 0" [options]="sliderOpts">
        <ion-slide>
            <ion-label> No found Favorite News</ion-label>
        </ion-slide>
    </ion-slides>

    <app-news *ngIf="dataLocalService.favoriteNews.length > 0" [inFavorite]="true" [notices]="dataLocalService.favoriteNews">
    </app-news>

</ion-content>